h1 {
  font-size: 50px;
  color: hsl(48, 82%, 51%);
  font-family: 'Montserrat';
}

body {
  font-family: sans-serif;
  font-weight: lighter;
}

h3 {
  color: hsl(220, 100%, 65%);

}

.grid-container {
  display: grid;
  grid-template-columns: 30% auto;
}

.personal-info {
  color: hsl(220, 100%, 65%);
  border-right: 10px hsl(48, 82%, 51%) solid;
  width: 65%;
  padding-top: 20%;

}

.other-info {
  text-align: left;
}

.date {
  margin-top: 5px;
  font-style: italic;
}
